body {
  font-family: 'Titillium Web', sans-serif;
}
.app {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}
.compo {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.cmp {
  flex: 1;
}

button {
  height: 40px;
  width: 90%;
}